[Unit]
Description=My userbot

[Service]
ExecStart=/home/asus/PycharmProjects/mine/telegram_assistant_bot/userbot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
